img {
    padding-top: 10%;
}
  
.card-flex{
    margin-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
}

.text-stl2{
    font-size: small;
    font-weight: bold;
    color: #F5C6AA;
}

.login-btn{
    margin: auto;
    top: 50%;
    left: 16%;
    width: 70%;
    height: 35px;
    border-radius: 20px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    position: absolute;
    background-color: #FFB5A7;
}

.email{
    width: 90%;
    font-family: 'poppins', sans-serif;
}

.password{
    width: 90%;
    font-family: 'poppins', sans-serif;
}

.shadow{
    box-shadow: none;
}

.forgot{
    top: 45%;
    left: 65px;
    position: absolute;
    margin: auto;
}

.signup{
    margin: auto;
    top: 55%;
    left: 25%;
    width: 70%;
    height: 35px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    position: absolute;
}

.create{
    margin: auto;
    top: 95%;
    left: 25%;
    width: 70%;
    height: 35px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    position: absolute;
}
.type-toggle {
    padding-inline-start: 0.5rem;
.show-option,
    .hide-option {
      font-size: 1.2rem;
      display: block;
    }
}