.salons{
    box-shadow: none;
}

.salon-style{
    text-align: left;
    padding: 15px;
    margin: 10px;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    background-color: #ffe7e365;
}