.list-cust{
    font-weight: 600;
    font-size: 20px;
    padding-top: 20px;
    margin: auto;
    position: absolute;
    padding-left: 110px;
}

.table-container{
    margin-top: 70px;
    box-shadow: 5px;

}

.font-title{
    font-weight: bold;
    color: rgb(49, 49, 49);
    font-size: 14px;
    text-align: center;
}